body {
    background-color: #DAE3E5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.active {
    background-color: #A1C6EA;
}

#select {
    margin-top: 130px;
}

#form {
    margin: 0;
}

#form input {
    margin: 3px 5px 3px 0;
}

#form button {
    margin: 3px 0;
}

#input_tape {
    width:100%;
    overflow-x:scroll;
    overflow-y:hidden;
    background:rgba(255,255,255,.8);
    height: 45px;
    position:relative;
    margin: 20px auto 0 auto;
    border: 3px solid #04080F;
    background-color: #fff;
    font-size: 0;
}

.scroll {
    height:100%;
    padding:0px;
    width:auto;
    position:absolute;
    white-space:nowrap;
}

#input {
    height:50%;
    width:10px;
    position:relative;
    display:inline-block;
    font-size: 15px;
    margin: 0;
    padding: 3px;
    border: 3px solid #507DBC;
}

#finished {
    display: inline-block;
    color: #04080F;
}

#next_configuration {
    width: 200px;
    margin: 20px auto 0 auto;
}

