body {
    background-color: #DAE3E5;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Arial Black', Gadget, sans-serif;
}

button{
    background-color: #e7e7e7;
    color: black;
    font-size: 16px;
    border-radius: 4px;
}

#options{
    width: 80%;
    margin-top: 80px;
    margin-left: 150px;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 25px;
    padding:20px 0 20px 0;
}

.active {
    background-color: #A1C6EA;
}

#select {
    width: 50%;
    margin-left: 110px;
}

#form {
    margin: 0 auto;
}

#form input {
    margin: 3px 5px 5px 0;
    padding: 2px;
    font-size: 16px;
    border-radius: 2px;
    display: block;
}

#form button {
    margin: 3px 0;
}

#input_tape {
    width:80%;
    overflow-x:scroll;
    overflow-y:hidden;
    background:rgba(255,255,255,.8);
    height: 45px;
    position:relative;
    margin: 20px auto 0 auto;
    border: 3px solid #04080F;
    background-color: #fff;
    font-size: 0;
}

.scroll {
    height:100%;
    padding:0px;
    width:auto;
    position:absolute;
    white-space:nowrap;
}

#input {
    height:60%;
    width:20px;
    position:relative;
    display:inline-block;
    font-size: 18px;
    margin: 0;
    padding: 3px;
    border: 3px solid #507DBC;
}

#finished {
    display: inline-block;
    color: #04080F;
}

#next_configuration {
    width: 200px;
    margin: 20px auto 0 auto;
}

.info{
    color: #008000;
    margin-left: 110px;
}

.alert{
    color: #FF0000;
    margin-left: 110px;
}